.bitty-editor { 
  font-family:   'Roboto Mono', monospace; 
  font-size:     12px; 
  outline:       none; 
  height:        100vh;
  overflow-y:    auto; 
  white-space:   pre-wrap;
}

.bitty-editor div { 
  display:  block; 
  position: relative; 
}

/* remove next two rules if you don't want line numbers */
.bitty-editor {
  padding-left:  48px; 
  counter-reset: line; 
}
.bitty-editor div::before { 
  content:           counter(line); 
  counter-increment: line; 
  position:          absolute; 
  right:             calc(100% + 16px); 
  opacity:           0.5; 
}

body { 
  background:black;
  padding:0;
  margin:0;
  color:white;
}

::selection {
  background:#444;
  color:white;
}

/* syntax coloring rules */
.bitty-keywords { font-weight:bold; }
.bitty-strings  { font-style:italic; }
.bitty-comments { font-style:italic; }
.bitty-numbers  { color:#faa; }

/* active line highlight */
.bitty-active { background:#222 }
